In [1]:
#Factorial
n=int(input("Enter the number:"))
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*(fact(n-1))
print(f'Factorial of{n} is:',fact(n))

Enter the number:5
Factorial of5 is: 120

In [55]:
#Circumference of the circle
r=float(input())
c=""
if r<=0:
    print("Error")
else:
    c=2*3.14*r
    format_c= "{:.2f}".format(c)
    print(format_c)

0
Error

In [24]:
#largest of numbers
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

78
95
56
95

In [60]:
#Find the nth term of the series
a=int(input())
b=""
if a<0:
    print("Error")
if a==0:
    print(0)
else:
    b=a*a
    print(b)

9
81

In [6]:
#Nineth table
n=int(input())
for i in range(1,n+1):
    i=i*9
    print(i)

3
9
18
27

In [86]:
n=int(input())
if n==0:
    print("NULL")
else:
    for i in range(1,n+1):
        i=i*9
        print(i,end=" ")

4
9182736

In [8]:
#Celcius to farenheit
c=int(input())
f=c*(9/5)+32
format_f="{:.2f}".format(f)
print(format_f)

37
98.60

In [9]:
#Area of an equilateral triangle
a=int(input())
import math
x=math.sqrt(3)
area=(1/4)*x*(a**2)
format_area="{:.2f}".format(area)
print(format_area)

20
173.21

In [4]:
import math
x=math.sqrt(3)
print(x)

1.7320508075688772

In [ ]:
#same number in 5 row
num=int(input())
for i in range(1,5+1):
    i=num
    print(i)

In [6]:
#Removing the white space
n=input()
print(len(n.replace(" ","")))

Mukesh Raj M
10

In [18]:
#Giving white space
a=list(map(int,input().split()))
print(*a)

12 3 4 5 6
12 3 4 5 6

In [3]:
#Input/output problems
a=int(input())
b=int(input())
c=int(input())
print(a)
print(b)
print(c)

9
9
0
9
9
0

In [4]:
a=input()
b=input()
c=input()
print(a,b,c)

1
2
3
1 2 3

In [2]:
#add space between input(in this sum printing the seperately the last word to avoid white space)
a=input()
n=len(a)
for i in a[:n-1]:
    print(i, end=" ")
print(a[n-1])

Mukesh
M u k e s h

In [53]:
a=input()
for i in a:
    print(i,end=" ")

Mukesh
M u k e s h

In [5]:
# print a string seperated by coma
a=input()
n=len(a)
for i in a[:n-1]:
    print(i, end=",")
print(a[n-1])

Mukesh
M,u,k,e,s,h

In [50]:
a=input()
for i in a:
    print(i,end=',')

Mukesh
M,u,k,e,s,h,

In [27]:
#3 float value as a input seperated by a line
a,b,c=input().split()
print(float(a))
print(float(b))
print(float(c))

2.4 5.6 6
2.4
5.6
6.0

In [54]:
#seperated by line
a=input()
for i in a:
    print(i)

mukesh
m
u
k
e
s
h

In [73]:
# get in row print in line
a,n=map(int,input().split())
for i in range(n):
    print(a)

2 3
2
2
2

In [1]:
# kilometer to meter,centimeter
a=int(input())
print(a*1000)
print(a*100000)

2
2000
200000

In [24]:
#Odd or even
import math
a=float(input())
b=math.floor(a)
if b%2==0:
    print("Even")
else:
    print('odd')

3.4
odd

In [29]:
import math
a=float(input())
b=math.floor(a)
if b==0:
    print("Zero")
elif b%2==0:
    print("Even")
else:
    print('Odd')

3.4
Odd

In [8]:
a=int(input())
for i in range(1,4):
    i=i*a
    print(i,end=" ")

2
2 4 6

In [2]:
# get and print in reverse order
a=int(input())
for i in reversed(range(1,a+1)):
    print(i)

9
9
8
7
6
5
4
3
2
1

In [3]:
#printing in different format
a=int(input())
for i in range(1,a+1):
    print(i)

5
1
2
3
4
5

In [9]:
#Printing a integer
a=int(input())
for i in range(2,a+2,2):
    print(i)

10
2
4
6
8
10

In [12]:
#Find and print the smallest number
a=list(map(int,input().split()))
print(min(a))

12 6
6

In [19]:
#Reverse a string
a=input()
for i in reversed(a):
    print(i,end='')

Lokesh
hsekoL

In [22]:
#Gcd of given number
import math
math.gcd(4,18)

2

In [33]:
#Gcd of number using recursive function
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
a,b=map(int,input().split())
gcd(a,b)

2 3

1

In [36]:
a,b=map(int,input().split())
import math
math.gcd(a,b)

15 30

15

In [12]:
a,b=map(int,input().split())
if a>b:
    a,b=b,a
for i in range(1,a+1):
    if a%i==0 and b%i==0:
        gcd=i
print(i)

2 3
2

In [19]:
a,b=map(int,input().split())
while a!=b:
    if a>b:
        a=a-b
    else:
        b=b-a
print(a)

23 25
1

In [32]:
#Sum of numbers
a=input()
sum=0
for i in range(0,len(a)):
    sum=sum+int(a[i])
print(sum)

12345
15

In [35]:
#print odd and even separetely
a=input()
even=[]
odd=[]
for i in a:
    if int(i)%2==0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

In [37]:
n=int(input())
m=[]
for i in range(1,n+1):
    m.append(i*9)
print(*m)

6
9 18 27 36 45 54

In [9]:
#Quadrilateral equation
import math
a,b,c=map(float,input().split())
d=(b**2)-(4*a*c)
e=(-b+math.sqrt(d))/(2*a)
f=(-b-math.sqrt(d))/(2*a)
print(f'{e:.2f}')
print(f'{f:.2f}')

1 5 6
-2.00
-3.00

In [41]:
#Days in a month
a=int(input())
if(a==1):
    print(30)
elif(a==2):
    print(28)
elif(a==3):
    print(31)
elif(a==4):
    print(30)
elif(a==5):
    print(31)
elif(a==6):
    print(30)
elif(a==7):
    print(31)
elif(a==8):
    print(31)
elif(a==9):
    print(30)
elif(a==10):
    print(31)
elif(a==11):
    print(30)
elif(a==12):
    print(31)
else:
    print("Error")

12
31

In [43]:
#Leap year
a=int(input())
if a%400==0:
    print("Y")
elif a%4==0 and a%100!=0:
    print("Y")
else:
    print("N")

2020
Y

In [4]:
#Principle interest
p,t,r=map(int,input().split())
si=(p*t*r)/100
print(f'{si:.2f}')

1000 2 5
100.00

In [9]:
#Sum of n number
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

10
55